@page "/EditIssue/{CurrentID}"
@using IssueAndStoryTrackerApplication.Data
@inject IssueService issueService
@inject NavigationManager navigationManager

<h2>Edit Issue</h2>
<hr />

<EditForm Model="@issue" OnValidSubmit="UpdateIssue">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="row">
    <div class="col-md-8">

      <!-- Title input -->
      <div class="form-group">
        <label for="Title" class="control-label">Title</label>
        <input form="Title" class="form-control" @bind="@issue.Title" />
      </div>

      <!-- Associated Product input -->
      <div class="form-group">
        <label for="Product" class="control-label">Associated Product</label>
        <select name="Product" class="form-control" @bind="@issue.AssociatedProduct">
          <option value="">-- Select Associated Product --</option>
          @foreach ( string product in products )
          {
            <option value="@product">@product</option>
          }
        </select>
      </div>

      <!-- Affected Product Version input -->
      <div class="form-group">
        <label for="AffectedProductVersion" class="control-label">Affected Product Version</label>
        <input form="AffectedProductVersion" class="form-control" @bind="@issue.AffectedProductVersion" />
      </div>

      <!-- Work Product Type input -->
      <div class="form-group">
        <label for="Type" class="control-label">Work Category</label>
        <select name="Type" class="form-control" @bind="@issue.WorkProductType">
          <option value="">-- Select Work Category --</option>
          @foreach ( string workCategory in workCategories )
          {
            <option value="@workCategory">@workCategory</option>
          }
        </select>
      </div>

      <!-- Found By input -->
      <div class="form-group">
        <label for="FoundBy" class="control-label">Found By</label>
        <input form="FoundBy" class="form-control" @bind="@issue.FoundBy" />
      </div>

      <!-- Observed Behavior input -->
      <div class="form-group">
        <label for="ObservedBehavior" class="control-label">Observed Behavior</label>
        <input form="ObservedBehavior" class="form-control" @bind="@issue.ObservedBehavior" />
      </div>

      <!-- Expected Behavior input -->
      <div class="form-group">
        <label for="ExpectedBehavior" class="control-label">Expected Behavior</label>
        <input form="ExpectedBehavior" class="form-control" @bind="@issue.ExpectedBehavior" />
      </div>

      <!-- Estimated Points input -->
      <div class="form-group">
        <label for="Points" class="control-label">Estimated Points</label>
        <input form="Points" class="form-control" @bind="@issue.EstimatedPoints" />
      </div>

      <!-- Issue Status input -->
      <div class="form-group">
        <label for="Status" class="control-label">Status</label>
        <select name="Status" class="form-control" @bind="@issue.State">
          <option value="">-- Select Status --</option>
          @foreach ( string statusOption in statusOptions )
          {
            <option value="@statusOption">@statusOption</option>
          }
        </select>
      </div>

      <!-- Created By (read only) -->
      <div class="form-group">
        <label for="CreatedBy" class="control-label">Created By</label>
        <input form="CreatedBy" class="form-control" readonly="readonly" disabled="disabled" @bind="@issue.CreatedBy" />
      </div>

      <!-- Created On (read only)-->
      <div class="form-group">
        <label for="CreatedOn" class="control-label">Created On</label>
        <input form="CreatedOn" class="form-control" readonly="readonly" disabled="disabled" @bind="@issue.CreatedOn" />
      </div>

      <!-- Last Updated On (read only)-->
      <div class="form-group">
        <label for="LastUpdatedOn" class="control-label">Last Updated On</label>
        <input form="LastUpdatedOn" class="form-control" readonly="readonly" disabled="disabled" @bind="@issue.LastUpdatedOn" />
      </div>
    </div>
  </div>

  <!-- Edit Issue button -->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <button type="submit">Edit Issue</button>
      </div>
    </div>
  </div>
</EditForm>


@code {

  /// <summary>
  /// Gets or sets the ID of the issue passed to this component as a parameter.
  /// </summary>
  [Parameter]
  public string CurrentID
  {
    get;
    set;
  }

  /// <summary>
  /// Contains the data of an issue object to update in the database.
  /// </summary>
  private IssueInfo issue = new IssueInfo();

  /// <summary>
  /// Collection of products that can be associated with an issue.
  /// </summary>
  List<string> products = new List<string>();

  /// <summary>
  /// Collection of status options that can be associated with an issue.
  /// </summary>
  List<string> statusOptions = new List<string>();

  /// <summary>
  /// Collection of work categories that can be associated with an issue.
  /// </summary>
  List<string> workCategories = new List<string>();

  /// <summary>
  /// This method loads the data for an issue so it can be edited.  
  /// </summary>  
  protected override async Task OnInitializedAsync()
  {
    int idAsInt = Convert.ToInt32( CurrentID );
    issue = await Task.Run( () => issueService.GetByID( idAsInt ) );
    products = await Task.Run( () => issueService.GetProductNames() );
    statusOptions = await Task.Run( () => issueService.GetStatusOptions() );
    workCategories = await Task.Run( () => issueService.GetWorkCategories() );
  }

  /// <summary>
  /// This method is responsible for calling upon
  /// the issue service to update the data context.
  /// </summary>
  private void UpdateIssue()
  {
    issueService.Update( issue );
    navigationManager.NavigateTo( "Issue" );
  }
}